$dcode-navy: #011132;
$dcode-d-blue: #212D62;
$dcode-turquoise: #085146;
$dcode-grey: #f4f4f4;

$text-1: #595959;

$top-menu-color: #3682FC;
$sidebar-bg: #F5F7F9;
$sidebar-menu-color: #969FA6;
$main-bg: #DBE2E8;

$separator: #EAEEF2;
