@use '../../../preset/' as *;
@use '../../../config/palette.scss' as *;
@use '../branding/palette.scss' as *;
@use '../../../config/fonts/menlo.scss' as *;

.code-block {
    margin: 2rem 0;
    position: relative;
    > header {
        position: absolute;
        right: 1.25rem;
        top: 1rem;
        z-index: 2;
        span {
            color: $text-4;
            font-size: 12px;
        }
        button {
            @include reset-btn;
            &:hover {
                svg {
                    stroke: map-get($palette, 'primary');
                }
            }
        }
    }
    .code-editor { /* required class */
        background: $dcode-d-blue;
        border-radius: 4px;
        color: $text-4;
        font-family: "menlo";
        font-size: 12px;
        padding: 1.5rem 1rem;
        .prism-editor__line-numbers {
            line-height: 1.52!important;
            margin-right: 40px;
            .prism-editor__line-number {
                color: $text-4;
                font-family: "menlo";
                font-size: 12px;
                line-height: 1.5;
            }
        }
        .prism-editor__textarea:focus { /* optional class for removing the outline */
            outline: none;
        }
    }
}