@use 'dcode/sass-lib/sass/layouts.scss' as *;
@use "~/sass/config/variables.scss"as *;
@use "~/sass/config/palette.scss"as *;

#styleguide {
  @include flex-cols($columns, $breakpoints);
  .flex-cols > div {
    background-color: $dcode-turquoise;
    border: 1px solid #fff;
    color: #fff;
    min-height: 100px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
