@use 'dcode/sass-lib/sass/layouts.scss' as *;
@use 'dcode/sass-lib/sass/admin-features/helpers' as *;

@use "~/sass/config/palette.scss"as *;
@use "~/sass/config/variables.scss"as *;

@mixin box-shadow {
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
@mixin box-shadow-hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

@mixin aside-menu {
    padding-top: 30px;
    ul {
        @include reset-ul;
        transition: opacity .25s;
    }
    > ul > li {
        padding-left: 1rem;
        padding-right: 0;
        margin: 0;
        > button {
            @include reset-btn;
            display: block;
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 1rem;
            padding: 0 0.75rem;
            text-align: left;
            text-transform: uppercase;
        }
        a,
        button {
            color: $sidebar-menu-color;
        }
        > ul {
            background-color: transparent;
            margin-bottom: 1rem;
            > li {
                text-align: left;
            }
            a {
                display: block;
                font-size: 14px;
                padding: 0 .75rem 0 1.5rem;
                text-decoration: none;
                width: 100%;
                &.active,
                &:hover {
                    color: $top-menu-color;
                    text-decoration: underline;
                }
            }
        }
    }
}

@mixin dropdown-menu {
    &.has-children {
        background-color: transparent;
        margin: 0;
        padding-left: 1rem;
        transition: all .5s;
        button {
            position: relative;
            width: 100%;
            &:after {
                content: '';
                position: absolute;
                right: 20px;
                top: 2px;
                background-image: url('/imgs/icons/chevron-down.svg');
                background-size: cover;
                transform: rotate(0);
                transition: transform .5s;
                width: 10px;
                height: 10px;
            }
        }
        ul {
            height: 0;
            margin: 0;
            min-height: 0;
            opacity: 0;
            transition: all .5s;
            li,
            li a {
                pointer-events: none;
            }
        }
        &.active {
            background-color: #EBF3FF;
            margin: 1rem 0;
            padding: 1.5rem 0 1.5rem 1rem;
            button {
                &:after {
                    transform: rotate(180deg);
                }
            }
            ul {
                li a {
                    pointer-events: visible;
                }
            }
        }
    }
}