@use "./branding/"as *;
@use "../../preset/"as *;
@use "../../config/palette.scss"as *;
@use "~/sass/config/variables.scss"as *;

@use 'dcode/sass-lib/sass/base.scss' as lib;

#styleguide #app{
    @include bg-text-colors($palette);
    margin: auto;
    max-width: 1440px;

    > header,
    > main {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
        grid-template-areas: "aside content";
    }
    > header {
        border-bottom: 1px solid #DFE5EB;
        padding: 1rem 0;
        > aside {
            @include align-center;
            gap: 1rem;
            padding-left: 25px;
            h1 {
                font-size: 1rem;
                line-height: 1;
                margin: 0;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        > div {
            // padding-right: 25px;
            display: grid;
            grid-template-columns: 1fr 230px;
            grid-template-rows: auto;
            grid-template-areas: "menu search";
            menu {
                border-left: 1px solid $separator;
                border-right: 1px solid $separator;
                margin:0;
                ul {
                    li {
                        a {
                            color: $top-menu-color;
                        }
                    }
                }
            }
        }
    }
    > main {
        min-height: 100vh;
        // @include lib.pad-x(150px);

        aside {
            padding-top: 30px;
            ul {
                @include reset-ul;
            }
            > ul > li {
                padding-left: 0;
                padding-right: 0;
                margin: 0;
                margin-bottom: 1.5rem;
                > button {
                    @include reset-btn;
                    display: block;
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 0.25rem;
                    padding: 0.5rem 0.75rem;
                    text-align: left;
                    text-transform: uppercase;
                }
                a,
                button {
                    color: $sidebar-menu-color;
                }
                > ul {
                    background-color: transparent;
                    margin-bottom: 1rem;
                    opacity: 1;
                    height: auto;
                    > li {
                        text-align: left;
                    }
                    a {
                        border: 1px solid transparent;
                        display: block;
                        font-size: 14px;
                        padding: .5rem .75rem;
                        text-decoration: none;
                        width: 100%;
                        &.active,
                        &:hover {
                            background-color: $white;
                            border: 1px solid $main-bg;
                            color: $top-menu-color;
                        }
                    }
                }
            }
        }
        > aside {
            background-color: $sidebar-bg;
            border-right: 1px solid #E1E7EC;
            padding-left: 20px;
            > ul > li > ul > li a {
                border-right: none;
                &.active,
                &:hover { 
                    border-right: none;
                }
            }

        }
        > section {
            display: grid;
            grid-template-columns: 1fr 230px;
            grid-template-rows: auto;
            grid-template-areas: "article aside";
            // padding-right: 25px;
            > article {
                padding: 3rem 80px;
                hr:not(.actions hr) {
                    background-color: #DFE5EB;
                    border: none;
                    height: 1px;
                    margin: 3rem 0;
                }
                .demo {
                    border: 5px solid $dcode-grey;
                    margin-bottom: 2rem;
                    padding: 1.5rem;
                    pre {
                        margin: 0;
                        code {
                            font-family: monospace;
                            font-size: 1rem;
                        }
                    }
                }
            }
            > aside {
                > ul {
                    border-left: 1px solid $separator;
                    padding-left: 1rem;
                }
            }
        }
    }
}
